<!doctype html>
<html>
	<head>
	<title>Student Registration
		</title>
		{% load static %}
		<link rel="stylesheet"  href="{% static 'css/style1.css'%}">
		
		<style>

		</style>
	</head>
	<body class="menu">
		<div class="navbar">
			<ul>
				<li><a href=#>Home</a></li>
				
			</ul>
		</div>
		<div class="side">
			<ul>
				<li><a href="{% url 'facprofile' %}">My profile</a>
					
				</li>
				<li><a href="#">Student</a>
					<div class="subside">
						<ul>
							<li><a href="{% url 'studentreg' %}">Add Student</a></li>
							<li><a href="{% url 'facultystudentdeta' %}">Student details</a></li>
						</ul>
					</div>
				</li>
				<li><a href="{% url 'Addattendance' %}">Add attendance</a></li>
				<li><a href="{% url 'addmark' %}">Add Mark</a></li>
				<li><a href="{% url 'fac_leave' %}">Leave management</a></li>
				<li>
					<form action="{% url 'logout' %}" method="POST">
						{% csrf_token %}
						<input type="submit" value="logout" name="logout" >
					</form>
					
				</li>	

			</ul>
		</div>	



			<div class="freg">
				<form action="{% url 'studentsubmit'%}" method="POST">
                	{% csrf_token %}
				<table class="t">
						<tr><td>Admission_num: </td>	<td><input type="text" class="frm" placeholder="admission_no" name="admission_no"></input></td></tr>
						<tr><td>Admission_date: </td>	<td><input type="text" class="frm" placeholder="dd/mm/yy" name="admission_date"></input></td></tr>

						<tr><td>Student_name: </td><td><input type="text" class="frm" placeholder="name" name="name"></input></td></tr>
						<tr><td>DOB: </td><td><input type="text" class="frm" placeholder="dd/mm/yy" name="dob"></input></td></tr>
						<tr><td>Gender: </td><td><input type="text" class="frm" placeholder="Gender" name="gender"></input></td></tr>
	                    <tr><td>Mobile: </td><td><input type="text" class="frm" placeholder="mobile" name="mobile"></input></td></tr>
						<tr><td>guardian: </td><td><input type="text" class="frm" placeholder="name" name="guardian"></input></td></tr>

						<tr><td>Batch: </td><td><input type="text" class="frm" placeholder="branch" name="batch"></input></td></tr>
						<tr><td>E-mail: </td><td><input type="text" class="frm" placeholder="email id" name="email"></input></td></tr>
						<tr><td>Password: </td><td><input type="text" class="frm" placeholder="password" name="password"></input></td></tr>
				</table>
						<br><input type="submit" class="but1" value="Register" name="submit"></input>
						<input type="submit" class="but2" value="Cancel"></input>
				
				</form>
			</div>
				
		</div>
		
	</body>
</html>